@import '../../../index';

.recentTransactions {
    overflow: hidden;
    border-radius: 25px;

    .recentTransactionsInner {
        height: 228px;
        overflow: hidden;
        padding: 4px !important;
        padding-right: 10px !important;
    }

    .transactionDescription {
        width: 45%;

        p {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }
    }

    .transactionIcon {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin: 10px;
    }
}

.recentTransactionsWrapper {
    width: 30%;

    @media (max-width:$breakpoint-tablet-md) {
        width: 100%;

    }
}