@import '../../index';

.sidenav {
    width: 18vw;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #E6EFF5;
    background: #fff;
    height: 100%;
    z-index: 1;

    @media (max-width: $breakpoint-tablet-md) {
        width: 40vw;
    }

    @media (max-width: $breakpoint-mobile-md) {
        width: 60vw;
    }

    @media (max-width: $breakpoint-mobile-sm) {
        width: 80vw;
    }

    .closeSidebar {
        display: none;
        color: #343C6A;

        @media (max-width: $breakpoint-tablet-md) {
            display: inline-block;
        }
    }

    .menuItem {
        justify-content: center;
        padding: 14px 40px;
        margin-top: 0;
        border-left: 7px solid transparent;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        font-family: $font-family;

        @media (max-width: $breakpoint-desktop-md) {
            padding: 14px 20px;
        }

        h3 {
            line-height: 21.78px;
            text-align: left;
            color: $lightShade1;
            width: 80%;
        }

        .menuIcon {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            padding-right: 14px;

            @media (max-width: $breakpoint-tablet-md) {
                justify-content: flex-start;
                width: auto;

            }

            svg {
                width: 25px;
            }
        }
    }

    .menuItem.active {
        border-left-color: $darkShade1;

        h3 {
            color: $darkShade1;
        }

        svg {
            path {
                fill: $darkShade1
            }
        }
    }

    .logoWrapper {
        padding: 32px;
        width: 100%;
        justify-content: center;

        @media (max-width: $breakpoint-desktop-md) {
            padding: 32px 10px;
        }

        @media (max-width: $breakpoint-tablet-md) {
            justify-content: flex-start;
        }

        img {
            width: 20%;
        }

        .logoTitle {
            font-family: $font-family;
            font-size: 25px;
            font-weight: 700;
            display: inline-block;
            margin: 0;

            @media (max-width: $breakpoint-tablet-sm) {
                font-size: 20px;
            }
        }
    }
}