@import '../../../index';

.avatar {
    overflow: hidden;
    border-radius: 50px;
    width: max-content;
}

.quickTransfersWrapper {
    width: 450px;
    overflow: hidden;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.quickTransfers {
    justify-content: space-between;
    align-items: flex-start;
    width: 450px;
    overflow: hidden;
    padding: 12px 0;

    .selected {
        * {
            font-weight: 600 !important;
        }
    }
}


.favTransferDesignation {
    font-size: 12px !important;
    color: $secondary-text-color;
}

.favTransferName {
    text-align: center;
    white-space: nowrap;
    padding: 6px 0 2px;
    color: $secondary-text-color;
}

.sendMoneySection {
    padding: 10px;
    margin-top: 10px;
    white-space: nowrap;
    align-items: center;
    color: #718EBF;

    * {
        font-family: $font-family !important;
    }

    .sendMoneyInput {
        background-color: $lightShade2;
        border-radius: 50px;
        padding-left: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .MuiInputBase-root::before,
        .MuiInputBase-root::after {
            display: none;
        }

        button {
            background-color: $secondary-text-color;
            padding: 14px 20px;
            border-radius: 50px;
            color: $lightText;
            text-transform: capitalize;
        }
    }
}

.nextButton {
    background-color: transparent !important;
    border-radius: 50px !important;
    box-shadow: 0px 1px 2px 0 #ccc;
    width: 40px;
    min-width: 40px !important;
    height: 40px;
}