@import '../../index';

.dashboardContent {
    background-color: #f5f5f5;

    @media (max-width:$breakpoint-tablet-md) {
        justify-content: center;
    }

    @media (max-width:$breakpoint-tablet-sm) {
        justify-content: center;
        background-color: #fff;
    }

    .wrapperContainer {
        @media (max-width:$breakpoint-tablet-md) {
            width: 100%;
        }
    }
}