$primary-text-color: #343C6A;
$secondary-text-color: #232323;
$darkShade1: #232323;
$lightShade1: #B1B1B1;
$lightShade2: #F5F7FA;
$lightShade3: #718EBF;
$lightText: #FFFFFF;


$font-size: 16px;
$font-family: 'Inter', sans-serif;