.main-content {
    .sectionTitle {
        font-size: 22px;
        font-weight: 600;
        font-family: $font-family;
        color: $primary-text-color;
        padding-bottom: 1rem;
    }

    .textPrimary {
        font-family: $font-family !important;
        font-size: 16px;
    }

    .btn-link {
        color: $primary-text-color;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 600;

        &:hover {
            background-color: transparent;
            color: $secondary-text-color;
        }
    }
}