.main-content {
    .sectionTitle {
        font-size: 22px !important;
        font-weight: 600 !important;
        font-family: $font-family !important;
        color: $primary-text-color;
    }

    .btn-link {
        color: $primary-text-color;
        font-size: 16px !important;
    }
}