.main-content {
    * {
        font-family: $font-family !important;
    }

    .primaryColor {
        color: #343C6A !important;
    }

    .sectionTitle {
        font-size: 22px;
        font-weight: 600;
        font-family: $font-family;
        color: $primary-text-color;
        padding-bottom: 1rem;
    }

    .textPrimary {
        font-family: $font-family !important;
        font-size: 16px;
    }

    .btn-link {
        color: $primary-text-color;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 600;

        &:hover {
            background-color: transparent;
            color: $secondary-text-color;
        }
    }

    .generalBox {
        background: $lightText;
        border-radius: 25px;
        padding: 1.5rem 0;
    }

    .avatar {
        overflow: hidden;
        border-radius: 50px;
        width: max-content;
        display: inline-block;


    }

    .inputFieldWrapper {
        display: flex;
        flex-direction: column;
        width: 45%;

        @media (max-width: $breakpoint-tablet-md) {
            width: 100%;
        }

        label {
            font-size: 14px !important;
            color: $darkShade1;
        }

        .customInputField {
            border: 1px solid $lightShade4;
            padding: 8px 12px;
            border-radius: 10px;
            font-size: 14px !important;

            &::placeholder {
                color: $lightShade3;
                font-size: 14px !important;
            }
        }

        .field-error {
            border-color: red;

        }

        .validationMsg {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }
    }

    .MuiInputBase-root::before,
    .MuiInputBase-root::after {
        display: none;
    }

    .primaryButton {
        background-color: $secondary-text-color;
        padding: 10px 20px;
        border-radius: 10px;
        color: $lightText;
        text-transform: capitalize;
        font-family: $font-family;
        margin: 2rem;
        min-width: 200px;

        @media (max-width: $breakpoint-tablet-md) {
            width: 100%;
            margin: 2rem 0;
        }
    }

    .disabledButton {
        background-color: $lightShade4;
        cursor: not-allowed;
        color: $lightShade2;
    }

    .avatarPreview {
        width: 70px;
        height: 70px;
        object-fit: cover;

        @media (max-width: $breakpoint-tablet-md) {
            width: 125px;
            height: 125px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

}