@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables';
@import 'common.scss';

body {
    font-family: $font-family;
    font-size: $font-size;
    color: $primary-text-color;
    transition: all 0.3s ease;
}

.main-content {
    width: 82%;
    height: 90%;
    margin-top: auto;
    margin-left: auto;
    background-color: $lightShade2;
    padding: 2rem;

    @media (max-width: $breakpoint-tablet-md) {
        width: 100%;
        padding: 10px;
    }
}